body {
	background-color: #a5e1ad;
	margin-left: 2rem;
	margin-right: 2rem;
	text-align: center;
	color: #21094e;
	margin: auto;
}

h1 {
	color: #21094e;
	text-align: center;
	font-size: 5rem;
	font-family: 'Rubik Mono One', sans-serif;
	margin-top: 20%;
}

p {
	text-align: center;
	color: #21094e;
	font-size: 2rem;
	font-family: 'Rubik Mono One', sans-serif;
}

form {
	margin: 0 auto;
	padding: 10px;
	width: 250px;
}

/* .progress-bar {
	display: flex;
	justify-content: centre;
	color: #21094e;
} */
